<div class="row home-background">
  <div class="col-xs-3">
    <div class="row quotes">
      "World's Best Pizza!"
    </div>
  </div>
  <div class="col-xs-4">
    <%= image_tag("pizza.jpg") %>
  </div>
  <div class="col-xs-5">
    <div class="row quotes">
      "Voted #1 Pizza 2015!"
    </div>
  </div>
</div>
