<h1>Account Info Page</h1>

<p>
Name: <%= @user.username %><%= link_to "Edit Name", edit_user_path(@user.id) %>
</p>
<p>
  Email: <%= @user.email %>
</p>
<p>
  <%= link_to "Order History", user_orders_path(@user.id) %>
</p>

