<h1>Order History Page</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Order</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @user.orders.each do |order| %>
      <tr>
        <td><%= link_to order.created_at, user_order_path(@user.id, order.id) %></td>
        <td><%= order.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
